<h1>User info</h1>
<%= render "layouts/error", obj: @user %>
<%= from_for(@user) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :profile_image %>
	</div>

	<div class="field">
		<%= f.label :introduction %>
		<%= f.text_area :introduction %>
	</div>

	<div class="actions">
		<%= f.submit "Updeta User" %>
	</div>
<% end %>