<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render "info", user: @user %>

		<h2>New book</h2>
		<%= render "books/form" %>
	</div>

	<div class="col-xs-9">
		<h2>Users</h2>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |u| %>
				<tr>
					<td><%= attachment_image_tag(u, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
					</td>
					<td><%= u.name %></td>
					<td><%= link_to "show", user_path(u.id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>